.forex_main {
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.forex_title {
    font-size: 24px;
    font-weight: 300;
    width: 100vw;
    height: 60px;
    background-color: #404040;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    text-indent: calc(10vw + 10px);
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    /* color: black; */
}

.forex_content {
    margin-left: 10vw;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 85vw;
}

/* .current {
    margin: 20px;
} */

.section_title {
    color: gray;
    font-size: 16px;
    margin: 16px;
    display: flex;
    padding: 0;
    text-indent: 0;
}

.blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    justify-content: flex-start;
    position: relative;
}

.block {
    background-color: #81838520;
    width: 140px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    border-radius: 5px;
    
}

.block_title {
    font-size: 12px;
    color: #818385;
    font-weight: 600;
}

.block_main_text {
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.block_date {
    font-size: 10px;
    color: #818385;
}